# Maven
/target/
/server/
!.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.idea/
*.iml

# Java
*.class

# Others
*.swp
*.swo

# Environment
.env

err.txt
estrategia.txt
prompt.txt