<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="FileLogger" fileName="logs/app.log" append="true">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </File>
        <File name="TestLogger" fileName="logs/test.log" append="true">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n"/>
        </File>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{HH:mm:ss}}{cyan} %highlight{%-5p} %style{[%t]}{magenta} %c{1.} - %m%n"/>
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Logger exclusivo para classes de teste -->
        <Logger name="com.caracore.cso.service" level="debug" additivity="false">
            <AppenderRef ref="TestLogger"/>
        </Logger>
        <Logger name="com.caracore.cso.repository" level="debug" additivity="false">
            <AppenderRef ref="TestLogger"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="ConsoleLogger"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
