<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<description>Courier System Online</description>
	<display-name>csonline</display-name>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/faces-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.WEBAPP_RESOURCES_DIRECTORY</param-name>
		<param-value>/WEB-INF/resources</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>#{themeMB.theme}</param-value>
	</context-param>
	<context-param>
		<description>Theme Default</description>
		<param-name>themeDefault</param-name>
		<param-value>nova-light</param-value>
	</context-param>
	<context-param>
		<description>Tempo de sessão (segundos)</description>
		<param-name>timeout</param-name>
		<param-value>600</param-value>
	</context-param>
	<context-param>
		<description>Limite Máximo (dias)</description>
		<param-name>maximoLimiteDias</param-name>
		<param-value>90</param-value>
	</context-param>
	<context-param>
		<description>Idioma padrão</description>
		<param-name>locale</param-name>
		<param-value>pt_BR</param-value>
	</context-param>
	<context-param>
		<description>Fuso horário</description>
		<param-name>timezone</param-name>
		<param-value>GMT-3</param-value>
	</context-param>
	<resource-ref>
		<description>MySQL Datasource</description>
		<res-ref-name>jdbc/db_cso</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<listener>
		<listener-class>br.com.mulato.cso.view.listener.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>br.com.mulato.cso.view.listener.BackgroundListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Faces Config</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Config</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>br.com.mulato.cso.ws.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/auth/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>